*{
	margin: 0;
	padding: 0;
}
.main{
	clear: both;
	border: 1px solid #707070;
	margin-top: 1%;
	height: 800px;
	overflow-x: auto;
	background-image: url("../img/tableBgi.png");
}
.loadTag{
	clear: both;
	border: 1px solid #707070;
	margin-top: 1%;
	height: 800px;
	overflow-x: auto;
	background-image: url("../img/tableBgi.png");
}

.area_title{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.start_up,.close{
	color: #0078fb;
	cursor: pointer;
}
.close{
	margin-left: 30px;
}
.layui-table thead tr th{
	color: #C0C0C0;
}
.layui-table tbody tr td{
	color: #ffffff;
}
.layui-table tbody tr{
	border-bottom: 1px solid #414141;
}
#add_area,#modify_area{
	display: none;
}

.layui-form{
	margin-top: 4%;
}
#add{
	width:100px;
	height:28px;
	border:none;
	border-radius:0;
	background:#1E9FFF;
	line-height:28px;
	color:#ffffff;
	cursor:pointer;
}
.checkServer{
	width: 120px;
    height: 26px;
    border: 1px solid #1E9FFF;
    background: inherit;
    color: #ffffff;
    font-size: 12px;
    cursor:pointer
}
#add_areaid,#add_areaname,#add_gameAlong,#add_arearemakers,#modify_areaid,#modify_areaname,#modify_arearemakers,#modify_gameAlong,.layui-input layui-unselect{
	height: 30px;
    line-height: 30px;
    border: 1px solid #707070;
    border-radius: 5px;
    padding-left:10px;
    width:68% !important
}
/* ȫ�ֹ�������ʽ */
.scrollable {
	-webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color:#121212;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(50, 50, 50, 1);
}
::-webkit-scrollbar-track {
	background-color: rgba(50, 50, 50, 1);
}
::-webkit-scrollbar-track:hover {
	background-color: rgba(50, 50, 50, 1);
}
.TitleBtn{
	color:#ffffff;
	margin:4.5% 25%
}
