<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>角色查询</title>
	<link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/layui/css/layui.css" />
	<link rel="stylesheet" href="/css/roleQuery.css" />
	<link rel="stylesheet" href="/js/loading/jquery.mloading.css" />
</head>

<body class="layui-layout-body" style="background: #202020;" onload="lo()">
	<div id="navs"></div>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-body">
			<div class="inner">
				<div id="inner_head">
					<span>GM指令</span>
					<span class="fa fa-angle-right"></span>
					<span>角色查询</span>
					<span class="fa fa-angle-double-right"></span>
				</div>
				<div class="inner_main">
					<div class="main_box">
						<div class="box_left">
							<span class="fa fa-list-ul" style="margin-left: 15px;"></span>
							<span>区服列表</span>
						</div>
						<div class="box_right">
							<span class="fa fa-pencil-square-o" style="margin-left: 15px;"></span>
							<span>反馈信息</span>
						</div>
					</div>
					<div class="main_left">
						<form>
							<div class="form-group" style="width: 35%;float: left;">
								<span class="serve_span">
									<i class="fa fa-server" style="margin-left: 4%;margin-right: 3%;"></i>
									<span class="logs">单区多服</span>
									<i class="fa fa-caret-down"
										style="float: right;margin-top: 4%;margin-right: 7%;"></i>
								</span>
								<select id="server" onchange="selects(this);servers()">
									<option value="2">单区多服</option>
									<option value="0">全区全服</option>
								</select>
							</div>
							<div class="form-group" style="width: 35%; float: left;">
								<input type="text" id="account" placeholder="请输入玩家名称" />
							</div>

							<!-- <div class="form-group" style="width: 20%; float: left;">
									<select id="yesorno">
										<option value="1">简略查询</option>
										<option value="0">详细查询</option>
									</select>
								</div>
								<br /><br /><br />
								<div class="form-group" style="width: 35%; float: left;">
									<input type="text" id="roleID" placeholder="请输入玩家角色ID" />
								</div>
								<div class="form-group" style="width: 35%; float: left;">
									<input type="text" id="roleName" placeholder="请输入玩家角色名" />
								</div> -->

							<div class="form-group" style="width: 20%; float: left;">
								<button type="button" class="layui-btn" id="sendOut" onclick="postsend()">发送</button>
							</div>
						</form>
						<div class="left_bottom">
							<div class="top">
								<span class="top_area">请选择大区</span>
								<span class="top_server">请选择服务器</span>
							</div>
							<div class="left_content"></div>
							<div class="right_content"></div>
						</div>
					</div>
					<div class="main_right" readonly="readonly">
						<form class="layui-form"  lay-filter="esit_form">
							<!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
							<div class="layui-form-item">
								<label class="layui-form-label">玩家UID</label>
								<div class="layui-input-block">
									<input type="text" name="userUid" id="pui" disabled="disabled" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">玩家名称</label>
								<div class="layui-input-block">
									<input type="text" name="playerName" id="pname" disabled="disabled" class="layui-input">
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label">玩家账号</label>
								<div class="layui-input-block">
									<input type="text" name="playerAccount" id="pacc" disabled="disabled" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
									<label class="layui-form-label">玩家等级</label>
									<div class="layui-input-block">
										<input type="text" name="playerLevel" id="pleve" disabled="disabled" class="layui-input">
									</div>
								</div>


							<div class="layui-form-item">
								<label class="layui-form-label">注册时间</label>
								<div class="layui-input-block">
									<input type="text" name="registerTime" id="pti" disabled="disabled" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">所在区服</label>
								<div class="layui-input-block">
									<input type="text" name="areaServer" id="paer" disabled="disabled" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">是否在线</label>
								<div class="layui-input-block">
									<input type="text" name="onLine" id="plin" disabled="disabled" class="layui-input">
									<!-- <select name="onLine" id="plin" disabled="disabled">
											<option value=""></option>
										<option value="0">不在线</option>
										<option value="1">在线</option>
									</select> -->
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">处理状态</label>
								<div class="layui-input-block">
									<input type="text" id="chuli" disabled="disabled" class="layui-input">
								</div>
							</div>




							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" id="add-punish-btn" onclick="addpunishdd()" type="button">加入处罚</button>
									<button class="layui-btn" id="add-addemail-btn" onclick="addemaillist()" type="button">加入邮件</button>

								</div>
							</div>
							<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="/js/loading/jquery.mloading.js"></script>
<script src="/js/roleQuery.js"></script>
<script>
	$("#navs").load("left_Navigation.html")
	function lo() {
		$(".308").addClass("layui-this").siblings().removeClass("layui-this")
		$(".308").parent().parent().addClass("layui-nav-itemed").siblings().removeClass("layui-nav-itemed")
	}
	function servers() {
		var c = $("#server").find("option:selected").text();
		$(".logs").text(c)
	}
</script>

</html>
