<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>发送公告</title>
		<link rel="stylesheet" href="/layui/css/layui.css" />
		<link rel="stylesheet" href="/css/SendBulletin.css" />
		<link rel="stylesheet" href="/js/loading/jquery.mloading.css" />
	</head>
	<body class="layui-layout-body" style="background: #202020;" onload="lo()">
		<div id="navs"></div>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-body">
				<div class="inner">
					<div id="inner_head">
						<span>GM指令</span>
						<span class="fa fa-angle-right"></span>
						<span>发送公告</span>
						<span class="fa fa-angle-double-right"></span>
					</div>
					<div class="inner_main">
						<div class="main_box">
							<div class="box_left">
								<span class="fa fa-list-ul" style="margin-left: 15px;"></span>
								<span>区服列表</span>
							</div>
							<div class="box_right">
								<span class="fa fa-pencil-square-o" style="margin-left: 15px;"></span>
								<span>填写信息</span>
							</div>
						</div>
						<div class="main_left">
							<form>
								<div class="form-group" style="width: 37.2%;float: left;">
									<span class="serve_span">
										<i class="fa fa-server" style="margin-left: 4%;margin-right: 3%;"></i>
										<span class="logs">单区多服</span>
										<i class="fa fa-caret-down" style="float: right;margin-top: 4%;margin-right: 7%;"></i>
									</span>
									<select id="server" onchange="selects(this);servers()">
										<option value="2">单区多服</option>
										<option value="0">全区全服</option>
									</select>
								</div>
								<button type="button" class="layui-btn" id="sendOut" onclick="postsend()">发送</button>
							</form>
							<div class="left_bottom">
								<div class="top">
									<span class="top_area">请选择大区</span>
									<span class="top_server">请选择服务器</span>
								</div>
								<div class="left_content"></div>
								<div class="right_content"></div>
							</div>
						</div>
						<div class="main_right">
							<div class="main_right_left">
								<form action="" class="form_box" style="height: 640px;">
									<div class="form-group form_roleid">
										<span class="gm_span">公告ID</span>
										<input type="text" id="noticeID" placeholder="请输入角色ID" />
									</div>
									<div class="form-group form_time">
										<span class="gm_span">起止时间</span>
										<input type="text" id="times" placeholder="请输入过期时间(单位毫秒)" />
									</div>
									<div class="form-group form_email">
										<span class="gm_span">间隔时间</span>
										<input type="text" id="emailTit" placeholder="请输入间隔时间(单位毫秒)" />
									</div>
									<div class="form-group form_roleid">
										<span class="gm_span">添加或删除</span>
										<select id="addordele" style="width: 70%;">
											<option value="true">添加</option>
											<option value="false">删除</option>
										</select>
									</div>
									<div class="form-group" style="margin-bottom: 2%;">
										<span class="gm_span" style="border: 1px solid #bababa;border-bottom: 0;border-radius: 5px 5px 0 0;">公告内容</span>
										<textarea id="emailContent"></textarea>
									</div>
								</form>
							</div>
						</div>
						<button type="button" class="layui-btn layui-btn-normal" style="line-height: 34px;height: 34px;margin-top: 1%;" onclick="delet()">清空</button>
						<textarea class="main_bottom" readonly="readonly"></textarea>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/layui/layui.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/loading/jquery.mloading.js"></script>
	<script src="/js/SendBulletin.js"></script>
	<script>
		$("#navs").load("left_Navigation.html")
		function lo() {
			$(".307").addClass("layui-this").siblings().removeClass("layui-this")
			$(".307").parent().parent().addClass("layui-nav-itemed").siblings().removeClass("layui-nav-itemed")
		}
		function servers(){
			var c = $("#server").find("option:selected").text();
			$(".logs").text(c)
		}
	</script>

</html>