<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>补单管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="../upGrade/css/upSheet.css" />
    <link rel="stylesheet" href="/js/loading/jquery.mloading.css" />
</head>
<body class="layui-layout-body" style="background: #202020;" onload="lo()">
<div id="navs"></div>
<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="margin: 1% 1.2% 1% 1%">
        <div class="topTool">
            <form>
                <div class="form-group" style="width: 14%;float: left;">
									<span class="serve_span">
										<i class="fa fa-server" style="margin-left: 4%;margin-right: 3%;"></i>
										<span class="logs">单区多服</span>
										<i class="fa fa-caret-down" style="float: right;margin-top: 4%;margin-right: 7%;"></i>
									</span>
                    <select id="server" onchange="selects(this);servers()">
                        <option value="2">单区多服</option>
                        <option value="0">全区全服</option>
                    </select>
                </div>
                <div class="form-group" style="width: 20%; float: left;">
                    <input type="text" id="roleID" placeholder="请输入玩家名称" />
                </div>
                <div class="form-group" style="width: 20%; float: left;">
                    <input type="text" id="money" placeholder="请输入金额" />
                </div>
                <div class="form-group" style="width: 5%; float: left;margin-top: 1%">
                    <button type="button"  id="sendOut" onclick="postsend()">发送</button>
                </div>
            </form>
        </div>
        <div class="serverPage">
            <div class="area">
                <div class="box_right">
                    <span class="fa fa-list-ul" style="margin-left: 3%;"></span>
                    <span>大区列表</span>
                </div>
                <div class="left_content"></div>
            </div>
            <div class="server">
                <div class="boxleft" >
                    <span class="fa fa-bars" style="margin-left: 3%;"></span>
                    <span>服务器列表</span>
                </div>
                <div class="right_content"></div>
            </div>
        </div>
        <div class="filePage">
            <div class="fileTool" >
                <div style="width: 25%">
                    <span class="fa fa-pencil-square-o"></span>
                    <span>反馈信息</span>
                </div>
                <div>
                    <button type="button"  id="clearBtn" onclick="delet()">清空</button>
                </div>
            </div>
            <div>
                <textarea class="main_right" readonly="readonly"></textarea>
            </div>
        </div>
            </div>
    </div>
</div>
</body>
<script src="/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/loading/jquery.mloading.js"></script>
<script src="../upGrade/js/upSheet.js"></script>
<script>
    $("#navs").load("../upGrade/upNavigition.html")
    function lo() {
        $(".323").addClass("layui-this").siblings().removeClass("layui-this")
        $(".323").parent().parent().addClass("layui-nav-itemed").siblings().removeClass("layui-nav-itemed")
    }
    function servers(){
        var c = $("#server").find("option:selected").text();
        $(".logs").text(c)
    }
</script>

</html>
