*{
	margin: 0;
	padding: 0;
}
.sum_div{
	width: 100%;
	background: #363636;
	clear: both;
	padding: 2%;
}

form label{
	color: white;
	font-weight: bold;
	font-size: 1vw;
	margin-right: 2%;
	/*text-align: justify;
	width: 21%;*/
}
input[type="checkbox"]{
	width: 20px;
    height: 20px;
    background-color: transparent;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    float: left;
}
input[type="checkbox"]:checked{
	border: 1px solid #0078f2;
	background: url("../img/duihao.png") no-repeat;
	background-position: center;
}
#district_service,#state{
    background: #363636;
    z-index: 99;
    width: 72%;
    float: left;
    margin-left: 5px;
}
@media screen and (max-width: 1680px) {
	#district_service,#state{
		left: 8.8%;
	}
}
@media screen and (max-width: 1400px) {
	#district_service,#state{
		left: 10%;
	}
}

#district_service a,#state a{
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-block;
	line-height: 35px;
	float: left;
	margin-top: 6px;
}
#district_service>li,#state>li{
	height: 35px;
	line-height: 35px;
	border: 1px solid #bcbcbc;
	color: #C0C0C0;
}
#district_service ul,#state ul{
	background: #1A1A1A;
}
#district_service>li>span,#state>li>span{
	display: inline-block;
	margin-left: 10px;
}
#datatimes,#username{
	width: 70%;
	height: 35px;
	border: 1px solid #bcbcbc;
	background: transparent;
	color: #C0C0C0;
	border-radius: 0;
}
#query{
	height: 35px;
	line-height: 35px;
	float: right;
	margin-left: 15px;
}
/*表格公共样式*/
#datatable{
	overflow-x: scroll;
	width: 100%;
	border: 0;
}
#datatable thead{
	background: #1A1A1A;
	border: 0;
}
#datatable thead tr{
	border: 0;
}
#datatable thead tr th{
	border: 0;
	color: white;
	height: 50px;
	font-size: 14px;
	line-height: 30px;
}
#datatable tbody{
	border: 0;
}
#datatable tbody tr{
	border: 0;
}
#datatable tbody tr td{
	border: 0;
	color: #C0C0C0;
	height: 40px;
	font-size: 14px;
}
#datatable tbody tr:hover{
	background: transparent;
	color: #C0C0C0;
}
#startLevel,#endLevel{
	width: 32.1%;
	height: 35px;
	border: 1px solid #bcbcbc;
	background: transparent;
	color: #C0C0C0;
	border-radius: 0;
}
@media screen and (max-width: 1290px) {
	#startLevel,#endLevel{
		width: 32%;
	}
}
.layui-table thead tr th{
	color: white;
}
.textarea{
	width: 500px;
	height: 40px;

}
#tabtabs{
	margin-right: 0% !important;
}
