<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>自动化上传</title>
		<link rel="shortcut icon" href="../img/favicon(1).ico"  type="image/x-ico" media="screen"/>
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/AutomaticUpload.css" />
		<link rel="stylesheet" href="../js/loading/jquery.mloading.css" />
		<style>
			.layui-colla-title {
    			background-color: transparent !important;
    			color: #fff !important;
			}
			.layui-colla-content {
				overflow: auto;
			}
			.layui-colla-content p {
				padding-left: 7px;
				color: #ccc;
			}
			.layui-colla-item {
				border-color: transparent !important;
			}
			.layui-collapse {
				border:0;
			}
			.layui-layer-setwin .layui-layer-close1 {
    			background-position: -67px -7px !important;
			}
		</style>
	</head>
	<body class="layui-layout-body" style="background: #202020;" onload="lo()">
		<div id="navs"></div>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-body">
				<div class="inner">
					<div id="inner_head">
						<span>自动化</span>
						<span class="fa fa-angle-right"></span>
						<span>自动化上传</span>
						<span class="fa fa-angle-double-right"></span>
					</div>
					<div class="inner_main">
						<div class="main_box">
							<div class="box_left">
								<span class="fa fa-list-ul" style="margin-left: 15px;"></span>
								<span>所有服务器</span>
							</div>
							<div class="box_right">
								<span class="fa fa-pencil-square-o" style="margin-left: 32px;"></span>
								<span>操作区域</span>
								<button type="button" class="layui-btn layui-btn-normal" style="float: right;line-height: 34px;height: 34px;" onclick="upload()">上传</button>
							</div>
						</div>
						<div class="main_left">
							<input type="checkbox" class="checkall" onclick="checkall(this)"><span>全选/全不选</span>
						</div>
						<div class="main_right" >
							<div class="main_top">
								<div class="file_area">
									<div style="margin-bottom:10px;">
										<label>校验MD5</label>
										<input type="text" class="md5" placeholder="请输入校验的MD5码">
										<button type="button" class="layui-btn" onclick="decompression()" style="height: 30px;line-height: 30px;margin-left: 40px;">解压</button>
										<button type="button" class="layui-btn" onclick="md5Check()" style="height: 30px;line-height: 30px;">MD5</button>
									</div>
									<span>文件名</span>
									<div class="fileName">
										<div class="layui-collapse" lay-accordion=""></div>
									</div>
								</div>
								<div class="file_upload">
									<button type="button" class="layui-btn" style="float: right;line-height: 34px;height: 34px;" onclick="saveRedis()">保存路径</button>
									<button type="button" class="layui-btn" style="float: right;line-height: 34px;height: 34px;margin-right: 10px;" onclick="addRedis()">添加路径</button>
									
									<div style="margin-top: 50px;margin-bottom:18px;">文件的上传路径</div>
								</div>
							</div>
							<div class="main_bottom">
								<div style="background-color:#121212;height: 45px;line-height: 40px;">
									<span class="fa fa-list-ul" style="margin-left: 15px;"></span>反馈信息
									<button type="button" class="layui-btn feedback-btn" style="width:86px;height:45px;float:right;">暂无反馈</button></div>
								<div class="feedback"></div>
							</div>
						</div>
					</div>
					<div class="confirm_area" style="display:none;width: 165px;height: 50px;line-height: 50px;text-align: center;position: fixed;left: 53%;top: 41%;color: #fff;background: rgba(0,0,0,.8);">
						请选择至少一个服务器
					</div>
					
				</div>
			</div>
		</div>
		<div id="MD5_area" style="display:none;padding-top: 11px;width: 300px;line-height: 50px;text-align: center;color: #fff;">
			<div style="margin-bottom: 21px;">
				<input type="text" id="MD5_upload" placeholder="请输入数字或字母" style="height: 30px;text-align: center;">
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
	<script src="../layui/layui.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/loading/jquery.mloading.js"></script>
	<script src="../js/AutomaticUpload.js"></script>
	<script>
	layui.use(['element', 'form'], function() {
		var element = layui.element;
		element.init();
		element.render();
	});
	localStorage.setItem('navigation','8-3')
		/* $("#navs").load("left_Navigation.html") */
		$("#navs").load("../upGradeView/upGradeNav.html")
		function lo() {
			$(".310").addClass("layui-this").siblings().removeClass("layui-this")
			$(".310").parent().parent().addClass("layui-nav-itemed").siblings().removeClass("layui-nav-itemed")
		}
		function servers(){
			var c = $("#server").find("option:selected").text();
			$(".logs").text(c)
		}
	</script>

</html>