<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>合服</title>
		<link rel="shortcut icon" href="../img/favicon(1).ico"  type="image/x-ico" media="screen"/>
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/mergeServer.css" />
		<link rel="stylesheet" href="../js/loading/jquery.mloading.css" />
	    	<link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
	</head>
	<body class="layui-layout-body" style="background: #202020;" onload="lo()">
		<div id="navs"></div>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-body">
				<div class="inner">
					<div id="inner_head">
						<span>自动化</span>
						<span class="fa fa-angle-right"></span>
						<span>合服</span>
						<span class="fa fa-angle-double-right"></span>
					</div>
					<div class="inner_main">
						<div class="main_box">
							<div class="box_left">
								<span class="fa fa-list-ul" style="margin-left: 15px;"></span>
								<span>合服服务器</span>
								<button type="button" class="layui-btn layui-btn-normal retreated" style="float: right;line-height: 34px;height: 34px;margin-right:4%;padding:0 26px;" onclick="retreated()">回档</button>
								<button type="button" class="layui-btn layui-btn-normal merge" style="float: right;line-height: 34px;height: 34px;margin-right:3%;padding:0 26px;" onclick="merge()">合并</button>
								<button type="button" class="layui-btn layui-btn-normal backups" style="float: right;line-height: 34px;height: 34px;margin-right:2%;padding:0 26px;" onclick="backups()">备份</button>
							</div>
							<div class="box_right">
								<span class="fa fa-pencil-square-o" style="margin-left: 15px;"></span>
								<span>执行信息</span>
								
								<button type="button" class="layui-btn layui-btn-normal" style="float: right;line-height: 34px;height: 34px;" onclick="delet()">清空</button>
								<button type="button" class="layui-btn layui-btn-normal marning" style="background-color:green;margin-right:20px;float: right;line-height: 34px;height: 34px;">空闲</button>
							</div>
						</div>
						<div class="main_left">
							<div class="all_server" style="padding: 10px 18px;box-sizing: border-box;width:50%;float:left;height:100%;overflow:auto;background-color:#272727;">
								<p style="margin-bottom:15px;">主服务器</p>
							</div>
							
							<div class="check_server" style="width:50%;float:left;height:100%;overflow:auto;background-color:#272727;padding: 10px 35px;box-sizing: border-box;word-break: break-word;">
								<p style="margin-bottom:15px;">已选择的服务器</p>
								<!-- <button type="button" class="layui-btn layui-btn-normal clear" style="position:fixed;left: 49%;top: 21.5%;line-height: 34px;height: 34px;">清空</button> -->
							</div>
						</div>
						<!-- <textarea class="main_right" readonly="readonly"></textarea> -->
						<div class="main_right" ></div>
					</div>
				</div>
				<div class="Mask_area" style="display:none;z-index:99;width:1920px;height:100%;position:fixed;top:0;left:0;background: rgb(0,0,0,.4);"></div>
					<div class="merge_server" style="display:none;color:#fff;position:fixed;z-index:199999;top:15%;left:37%;border: 2px solid #fff;box-sizing: border-box;float:left;height:66%;background-color:#1a1a1a;width:28%;overflow:auto;padding: 10px 35px;">
						<span style="margin-bottom:15px;">请选择服务器进行合并</span>
						<button type="button" class="layui-btn layui-btn-normal btn2" style="display:none;float:right;line-height: 34px;height: 34px;" >关闭</button>
						<button type="button" class="layui-btn layui-btn-normal btn1" style="float:right;line-height: 34px;height: 34px;" >关闭</button>
								<button type="button" class="layui-btn layui-btn-normal" style="float:right;line-height: 34px;height: 34px;margin-right:10px;" onclick="preserve()">保存</button>
							</div>
			</div>
		</div>
	</body>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
	<script src="../layui/layui.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/loading/jquery.mloading.js"></script>
	<script src="../js/mergeServer.js"></script>
	<script>
	localStorage.setItem('navigation','8-1')
		$("#navs").load("../upGradeView/upGradeNav.html")
		function lo() {
			$(".308").addClass("layui-this").siblings().removeClass("layui-this")
			$(".308").parent().parent().addClass("layui-nav-itemed").siblings().removeClass("layui-nav-itemed")
		}
		function servers(){
			var c = $("#server").find("option:selected").text();
			$(".logs").text(c)
		}
		layui.use(['element', 'form'], function() {
			var element = layui.element;
			element.init();
			element.render();
		});
	</script>

</html>